@import 'normalize-3bc2f546340fb700ab9a155ff6bf45ab.css';
@import 'demo-3aa8d83b13d8b4af8d56dffa624f8149.css';

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border: 1px solid hsl(0, 0%, 62%);
    border-radius: .3em;
    display: block;
    font-size: inherit;
    padding: .3em .5em;
}

a.active {
    text-decoration: none;
    pointer-events: none;
}

.demo-block {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.demo-block p, .demo-block label {
    text-align: left;
}
