<div class="container">
  <header class="codrops-header">
    <div class="codrops-links">
      <a class="codrops-icon codrops-icon--prev" href="https://github.com/rajasegar/ember-aria-accordion" title="Github"><span>Github</span></a>
      <a class="codrops-icon codrops-icon--drop" href="http://rajasegar.github.io/ember-aria-accordion/docs" title="Documentation"><span>Back to the Codrops a</span></a>
    </div>
    <h1>ember-aria-accordion <span>An accessible accordion component in Ember using WAI-ARIA authoring practices.</span></h1>
    <nav class="codrops-demos">
      <LinkTo @route="index" @activeClass="current-demo">Home</LinkTo>
      <LinkTo @route="allow-toggle" @activeClass="current-demo">With Toggle option</LinkTo>
      <LinkTo @route="allow-multiple" @activeClass="current-demo">With multiple option</LinkTo>
    </nav>
  </header>
  <div class="demo-block">
    {{outlet}}
  </div>
  {{!-- Related demos --}}
  <section class="content content--related">
    <p>If you enjoyed this demo you might also like:</p>
    <a class="media-item" href="http://rajasegar.github.io/ember-aria-switch/">
      <img class="media-item__img" src="img/related/ember-aria-switch.jpg" alt="Link to ember-aria-switch">
      <h3 class="media-item__title">ember-aria-switch</h3>
    </a>
    <a class="media-item" href="http://rajasegar.github.io/ember-aria-slider/">
      <img class="media-item__img" src="img/related/ember-aria-slider.jpg" alt="Link to ember-aria-slider">
      <h3 class="media-item__title">ember-aria-slider</h3>
    </a>
  </section>
</div>

